<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form action="/dologin">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="submit">
        </form>
    </body>
</html>