<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>demo1</title>
        <!-- 因为之前已经给public文件夹设置了静态web服务，因此css文件路径默认从 public文件夹 开始 -->
        <link rel="stylesheet" href="css/demo1.css">
    </head>
    <body>
        <h2 class="header">我是一个通过ejs显示的文件</h2>
        <h1 class="font">我是在尝试调用demo1.css文件里面的样式</h1>
        <!-- <%= str %>
        <ul>
            <% colors.map(color=>{ %>
                <li>
                    <%= color  %>
                </li>   
            <% }) %>
        </ul> -->
    </body>
</html>