<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <link rel="stylesheet" href="css/demo1.css">
    </head>
    <body>
        <h2 class="font">我是一个登录页面</h2>
        <form action="/doLogin" method="post">
            <input type="text" name="name" placeholder="input UserName"><br>
            <input type="password" name="password" placeholder="input PassWord"><br>
            <input type="submit" value="login">
        </form>
    </body>
</html>